#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8C8C8C;
  margin: 0;
}
#container a {
  text-decoration: none;
}
[col-1] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 14.285714285714286%;
  width: 14.285714285714286%;
  max-width: 14.285714285714286%;
}
.col {
  text-align: center;
  padding: 5px;
}
.last-month, .next-month {
  color: #999999;
  font-size: 85%;
  padding-bottom: 14px;
  height: 39px;
  
}
.currentDate, .otherDate {
  padding: 5px;
}
.currentDate {
  font-weight: bold;
  background-color: #000dff33;
  color: blue;
  border-radius: 5px;
  border: 1px solid blue;
}
.calendar-header {
  background-color: #f7f7f7;
    color: #000;
   
    text-align: center;
    min-height: 36px;
    margin-top: 6px;
    margin-left: 5px;
    border-radius: 13px;
    margin-right: 6px;
}
.event-bullet {
  margin: 2px 1px;
  height: 5px;
  width: 5px;
  background-color: #ffeb3b;
  border-radius: 97px;
}

.event-bullet2 {
  margin: 2px 1px;
  height: 5px;
  width: 5px;
  background-color: rgb(96, 185, 207);
  border-radius: 97px;
}

.event-bullet3 {
  margin: 2px 1px;
  height: 5px;
  width: 5px;
  background-color: rgb(182, 41, 123);
  border-radius: 97px;
}
.selected-date {
  width: 20px;
  height: 2px;
  background-color: blue;
}
.unselected-date {
  border: none;
}
.grid {
  padding: 0;
}
.col:last-child {
  border-right: none;
}
.calendar-weekday, .calendar-date {
  text-align: center;
  margin: 0;
}
.calendar-weekday {
  font-weight: bold;
  border-bottom: 0px;
  background-color: #26AB56;
}
.calendar-date {
  border-top: 0px;
  border-bottom: 0px;
}
.calendar-body {
  margin-top: 5px;
  .grid {
    padding: 0;
  }
  .col:last-child {
    border-right: none;
  }
  .calendar-weekday, .calendar-date {
    text-align: center;
    margin: 0;
  }
  .calendar-weekday {
    font-weight: bold;
    border-bottom: 0px;
    background-color: #ffff;
  }
  .calendar-date {
    border-top: 0px;
    border-bottom: 0px;
    padding-top: 20px;
  }
}
.calendar-body {
  background-color: white;
}
.cal-body{
  border-radius: 30px !important;
}
.weekDays{
  font-size: 85%;
}

.calendar-body {
  background-color: white;
}
.cal-body{
  border-radius: 30px !important;
}
.my-iconred{
  color: blue;
  vertical-align: middle;
  padding: 8px 8px;
  height: 8px;
}
ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}
.item .sc-ion-label-md-h {
  background-color: hsl(240deg 55% 96%);
  border-radius: 30px;
}
.mycard{
  box-shadow: none !important;
  border: 2px solid hsl(0deg 0% 94%);
  border-radius: 20px;
}
.cardLayout{
  border-radius: 15px;
  margin: 3px;
  height: 327px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.cardHeader{
  border-bottom: 2px solid rgb(240 240 240); margin-left: 10px; margin-right: 10px;padding-bottom: 9px;
}

.cardHeader2{
  height: 30px;
  margin: 0px;padding: 10px;}

  .cal-col1{
    background: rgb(255, 255, 255);
    border-radius: 30px; margin-top: 5px;
    margin-left: 4px;
  }

  .cal-col2{
    background: rgb(255, 255, 255);
    border-radius: 30px; margin-top: 5px;
    margin-left: 10px; margin-right: 10px;
  }

  .cal-col3{
    background: rgb(255, 255, 255);
    border-radius: 30px; margin-top: 5px;
    margin-right: 4px;
  }

  @media only screen and (max-width: 600px) {
    .mobile{
      display: block;
    }
    
  }
 