<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendar
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding style="--background: rgb(240 240 240);">
  <ion-grid>
    <ion-row>
     

      <ion-col size="12" class="cal-body">

        <ion-row class="mobile"> 
          <ion-col style=" max-width: 229px;padding: 0px;" >


            <ion-card class="cardLayout">
              <ion-card-header class="cardHeader">
                <ion-card-title style="font-size: 13px;">Today, {{dateName}}th {{currentMonthName}}, {{day}}
                </ion-card-title>
              </ion-card-header>
              <ion-card-content style="padding: 0px;overflow: scroll;margin-bottom: 8px;">


                <ion-card class="mycard" *ngFor='let event of dataInthisMonths.data'>
                  <ion-card-header [style.--background]="event.color" class="cardHeader2">
                    <ion-card-title style="font-size: 74%; color: #ffff;font-weight: bold;">{{event.status}}
                    </ion-card-title>
                  </ion-card-header>

                  <ion-list style="padding: 0px;
                      margin-bottom: 6px;">
                    <ion-item style="height: 42px;" *ngFor="let item of event.list">
                      <ion-label style="font-size: 70%;margin-top: 7px;height: 27px; ">
                        <ion-icon class="my-iconred" name="ellipse"></ion-icon>{{item.text}}
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </ion-card>
              </ion-card-content>
            </ion-card>
          </ion-col>



          <ion-col style=" max-width: 385px;padding: 0px;">
            <ion-card class="cardLayout">
              <div class="calendar-header">
                <ion-row class="calendar-month">
                  <ion-col class="cal-col1" col-1 (click)="goToLastMonth()">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                  </ion-col>
                  <ion-col class="cal-col2" col-10>{{currentMonthName}} {{currentYear}}</ion-col>
                  <ion-col class="cal-col3" col-1 (click)="goToNextMonth()">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </div>
              <div class="calendar-body">
                <ion-grid>
                  <ion-row class="calendar-weekday">
                    <ion-col class="weekDays">S</ion-col>
                    <ion-col class="weekDays">M</ion-col>
                    <ion-col class="weekDays">T</ion-col>
                    <ion-col class="weekDays">W</ion-col>
                    <ion-col class="weekDays">T</ion-col>
                    <ion-col class="weekDays">F</ion-col>
                    <ion-col class="weekDays">S</ion-col>
                  </ion-row>
                  <ion-row class="calendar-date">
                    <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month">{{lastDay}}<br>

                      <ion-row style="margin-left: 11px;">
                        <div class="event-bullet"></div>
                        <div class="event-bullet2"></div>
                        <div class="event-bullet3"></div>
                      </ion-row>
                    </ion-col>

                    <ion-col col-1 *ngFor="let day of daysInThisMonth"
                      style="padding-bottom: 14px;font-size: 85%;height: 39px;" (click)='onNextMonth(day)'>
                      <span class="currentDate" *ngIf="currentDate === day.date; else otherDate">
                        {{day.date}}
                      </span>
                      <ng-template #otherDate class="otherDate">{{day.date}}<br>

                        <ion-row style="margin-left: 11px;">
                          <div class="event-bullet"></div>
                          <div class="event-bullet2"></div>
                          <div class="event-bullet3"></div>
                        </ion-row>


                      </ng-template>
                    </ion-col>
                    <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month"
                      (click)='onNextMonth(nextDay)'>{{nextDay.date}}<br>

                      <ion-row style="margin-left: 11px;">
                        <div class="event-bullet"></div>
                        <div class="event-bullet2"></div>
                        <div class="event-bullet"></div>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>